<div class="container">
    
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Capital</th>
      <th>Region</th>
      <th>Population</th>
      <th>Flag</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of result">
      <td>{{ x.name }}</td>
      <td>{{ x.captital }}</td>
      <td>{{ x.region }}</td>
      <td>{{ x.population }}</td>
      <td><img width="100px" height="50px;" src="{{ x.flag }} " /></td>
    </tr>
  </tbody>
</table>
